<template>
  <div class="h-screen">
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Events</h3>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4 h-full">
      <div class="m-4">
        <form @submit.prevent="form.post('/events')">
          <div class="m-4">
            <label for="title" class="block text-sm font-medium text-gray-700">
              Event
            </label>
            <div class="mt-1">
              <input
                type="text"
                name="title"
                id="title"
                v-model="form.title"
                class="
                  shadow-sm
                  focus:ring-indigo-500 focus:border-indigo-500
                  block
                  w-full
                  border-gray-300
                  rounded-md
                "
              />
              <input-error :message="form.errors.title" />
            </div>
          </div>
          <div class="grid grid-cols-2 m-4 gap-2">
            <div class="">
              <label
                for="start_date"
                class="block text-sm font-medium text-gray-700"
                >From</label
              >
              <input
                type="date"
                name="start_date"
                id="start_date"
                v-model="form.start_date"
                class="
                  mt-1
                  focus:ring-indigo-500 focus:border-indigo-500
                  block
                  w-full
                  shadow-sm
                  border-gray-300
                  rounded-md
                "
              />
              <input-error :message="form.errors.start_date" />
            </div>

            <div class="">
              <label
                for="end_date"
                class="block text-sm font-medium text-gray-700"
                >To</label
              >
              <input
                type="date"
                name="end_date"
                id="end_date"
                v-model="form.end_date"
                class="
                  mt-1
                  focus:ring-indigo-500 focus:border-indigo-500
                  block
                  w-full
                  shadow-sm
                  border-gray-300
                  rounded-md
                "
              />
              <input-error :message="form.errors.end_date" />
            </div>
          </div>

          <div class="m-4">
            <div class="flex flex-col md:flex-row">
              <div v-for="(day, index) in dayOptions" :key="day">
                <label for="day_options" class="inline-flex items-center">
                  <input
                    :id="day"
                    type="checkbox"
                    v-model="form.days"
                    :value="index"
                    class="
                      rounded
                      border-gray-300
                      text-indigo-600
                      shadow-sm
                      focus:border-indigo-300
                      focus:ring
                      focus:ring-indigo-200
                      focus:ring-opacity-50
                    "
                    name="day_options"
                  />
                  <span class="mx-2 text-sm text-gray-600">{{ day }}</span>
                </label>
              </div>
            </div>

            <input-error :message="form.errors.days" />
          </div>

          <button
            type="submit"
            class="
              m-4
              inline-flex
              items-center
              px-4
              py-2
              border border-transparent
              text-sm
              font-medium
              rounded-md
              shadow-sm
              text-white
              bg-indigo-600
              hover:bg-indigo-700
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-indigo-500
            "
            :disabled="form.processing"
          >
            Save
          </button>
        </form>
      </div>
      <div class="col-span-2 m-4">
        <vue-cal
          events-on-month-view="short"
          activeView="month"
          :events="events"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { Head, Link } from "@inertiajs/inertia-vue3";
import { useForm } from "@inertiajs/inertia-vue3";

import moment from "moment";
import VueCal from "vue-cal";
import "vue-cal/dist/vuecal.css";

import InputError from "../Components/InputError.vue";

export default {
  components: {
    Head,
    Link,
    InputError,
    VueCal,
  },
  props: {
    errors: Object,
    events: Array,
  },
  setup() {
    const form = useForm({
      title: null,
      start_date: null,
      end_date: null,
      days: [],
    });

    return {
      form,
      dayOptions: moment.weekdaysShort(),
    };
  },
};
</script>
